{% extends 'base.html' %}
{% load wiki_extras %}
{% block title %}FMB World Tour Ranking 2023 | RideFMB{% endblock %}

{% block content %}
    <div class="container-xxl">
        <h1>FMB Ranking 2023</h1>
        <ul>
        {% for rider in riders %}
            <li>{{rider.rank}}. <a href="{% url 'wiki:rider' rider.id rider.slug %}">{{rider.name}}</a>, {{rider.nationality}}</li>
        {% endfor %}
        </ul>
        {% with previous_index=page_index|sub:1 %}
            {% if previous_index > 0 %}
                <a href="{% url 'wiki:ranking' previous_index %}">Previous</a>
            {% else %}
                <a>Previous</a>
            {% endif %}
        {% endwith %}
        {% with next_index=page_index|add:1 %}
            {% if next_index < 31 %}
                <a href="{% url 'wiki:ranking' next_index %}">Next</a>
            {% else %}
                <a>Next</a>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
