{% extends 'base.html' %}

{% block title %}Slopestyle and Dirt Jumping Riders | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <style>
        #main-container {
            max-width: 960px;
        }
        #riders-header {background-color: #4e545c;}
        #rider-riders {background-color: transparent;}
        #rider-riders:hover {background-color: #4e545c;}
        #rider-link {
            color: white;
            text-decoration: none;
        }
        #rider-points {
            color: #272c32;
            background-color: #727af7;
            padding: 4px;
        }
        .riders-link {
            color: #727af7;
            text-decoration: none;
            padding-top: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .disabled-link {
            color: lightgrey;
            pointer-events: none;
        }
        #dropdownMenuLink {
            color: #727af7;
            padding: 5px 5px 0px 0px;
        }
        #dropdown-navigation {
            height: auto;
            max-height: 200px;
            max-width: 50px;
            overflow-x: hidden;
        }
        .btn-menu {
            width: 100%;
            background-color: #727af7;
            color: white;
        }
        .btn-menu:hover {
            background-color: #8087ff;
        }
        #sortLabel {
            border-bottom: 1px solid #e0e0e0;
        }
        #sortLabel:hover {
            background-color: #e0e0e0;
        }
        #filterLabel {
            border-bottom: 1px solid #e0e0e0;
        }
        #filterLabel:hover {
            background-color: #e0e0e0;
        }
        #sortOption {
            width: 100%;
        }
        #sortOption:hover {
            background-color: #e0e0e0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-lg">
        <h1>FMB World Tour Athletes</h1>
        <div class="row py-3">
            <div class="col-6" style="padding-right: 6px;">
                <button type="button" class="btn btn-menu rounded-3" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>
            </div>
            <div class="col-6" style="padding-left: 6px;">
                <button type="button" class="btn btn-menu rounded-3" data-bs-toggle="modal" data-bs-target="#sortModal">Sort</button>
            </div>
        </div>
<!--filter modal-->
        <div class="modal fade text-dark" id="filterModal" tabindex="-1" aria-labelledby="sortModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="filterModalLabel">Select filter:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-0 m-0">
                  {% for label in filterLabels %}
                  <ul class="list-group list-group-flush p-0">
                      <li class="list-group-item" id="filterLabel"><a class="stretched-link" href=""></a>{{label}}</li>
                  </ul>
                  {% endfor %}
              </div>
              <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
<!--sort Modal-->
        <div class="modal fade text-dark" id="sortModal" tabindex="-1" aria-labelledby="sortModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5" id="sortModalLabel">Sort by:</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-0 m-0">
                  <ul class="list-group list-group-flush p-0">
                      {% for label in sortOptions %}
                      <li class="list-group-item p-0 m-0">
                          <form action="{% url 'wiki:riders' %}" method="get">
                            <input type="hidden" name="sort" value="{{label.1}}">
                            <button type="submit" id="sortOption" class="btn rounded-0">{{label.0}}</button>
                          </form>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
<!--riders table-->
        {% if riders %}
        <ul class="list-group list-group-table rounded-4" style="background-color: #272c32;">
            <li class="list-group-item" id="riders-header">
                <div class="row align-items-center text-white">
                    <div class="col-1 text-center">
                        Rank
                    </div>
                    <div class="col-2 d-none d-sm-block"></div>
                    <div class="col d-sm-none" style="max-width: 60px;"></div>
                    <div class="col">
                        Name
                    </div>
                    <div class="col-3 d-none d-sm-block">
                        Sponsor
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        Points
                    </div>
                </div>
            </li>
            {% for rider in riders %}
            <li class="list-group-item" id="rider-riders">
                <div class="row align-items-center text-white">
                    <div class="col-1 d-flex justify-content-center">
                        <br>
                        <h6>{% if rider.rank %}{{rider.rank}}{% else %}-{% endif %}</h6>
                        <br>
                    </div>
                    <div class="col-2 py-1 d-none d-md-block ">
                        <img src="{{rider.photo}}" class="rounded-circle border border-3 border-white" width="90" height="90">
                    </div>
                    <div class="col-2 d-none d-sm-block d-md-none">
                        <img src="{{rider.photo}}" class="d-md-none rounded-circle border border-2 border-white" width="70" height="70">
                    </div>
                    <div class="col d-sm-none" style="max-width: 60px;">
                        <img src="{{rider.photo}}" class="d-md-none rounded-circle border border-2 border-white" width="50" height="50">
                    </div>
                    <div class="col">
                        <h6 style="margin: 0;"><a class="stretched-link" id="rider-link" href="{% url 'wiki:rider' rider.id rider.slug %}">{{rider.name}}</a></h6>
                        <small>{{rider.country.shortname}}</small>
                    </div>
                    <div class="col-3 d-none d-sm-block">
                        <h6>{{rider.mainsponsor}}</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <br>
                        <h6 id="rider-points" class="rounded-2">{{rider.alltime_points|asint}}</h6>
                        <br>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="row" id="riders-navigation">
        {% with previous_index=page_index|sub:1 %}
            <div class="col-5 text-end">
            {% if previous_index > 0 %}
                <form action="{% url 'wiki:riders' %}" method="get">
                    <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                    <input type="hidden" name="page" value="{{previous_index}}">
                    <button type="submit" class="btn btn-link riders-link"><h2><<</h2></button>
                </form>
            {% else %}
                <button class="btn btn-link disabled-link riders-link"><h2><<</h2></button>
             {% endif %}
            </div>
        {% endwith %}
            <div class="col-2">
                <div class="dropdown text-center" style="margin-left: -5px;">
                      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        PAGE
                      </a>
                      <ul class="dropdown-menu dropdown-menu-center" id="dropdown-navigation" aria-labelledby="dropdownMenuLink">
                      {% for i in pages_count|times %}
                          <li>
                               <form action="{% url 'wiki:riders' %}" method="get">
                                   <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                                   <input type="hidden" name="page" value="{{i}}">
                                   <button type="submit" class="dropdown-item">{{i}}</button>
                               </form>
                          </li>
                      {% endfor %}
                      </ul>
                </div>
            </div>
        {% with next_index=page_index|add:1 %}
            <div class="col-5 text-start">
            {% if next_index <= pages_count %}
                <form action="{% url 'wiki:riders' %}" method="get">
                    {% if requests.GET.sort %}<input type="hidden" name="sort" value="{{ request.GET.sort }}">{% endif %}
                    <input type="hidden" name="page" value="{{next_index}}">
                    <button type="submit" class="btn btn-link riders-link"><h2>>></h2></button>
                </form>
            {% else %}
                <button class="btn btn-link disabled-link riders-link"><h2>>></h2></button>
            {% endif %}
            </div>
        </div>
        {% endwith %}
        {% else %}
            <p>No results found :(</p>
        {% endif %}
    </div>
{% endblock %}

