{% extends 'wiki/base.html' %}

{% block title %}Slopestyle and Dirt Jumping Riders | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <link href="{% static 'wiki/riders.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-lg">
        <h1>FMB World Tour Athletes</h1>
        <div class="row py-3">
            <div class="col-6" style="padding-right: 6px;">
                <button type="button" class="btn btn-menu rounded-3" data-bs-toggle="modal"
                    data-bs-target="#filterModal">Filter
                </button>
            </div>
            <div class="col-6" style="padding-left: 6px;">
                <button type="button" class="btn btn-menu rounded-3" data-bs-toggle="modal" data-bs-target="#sortModal">
                    Sort
                </button>
            </div>
        </div>
        <!--filter modal-->
        <div class="modal fade text-dark" id="filterModal" tabindex="-1" aria-labelledby="sortModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="filterModalLabel">Select filter:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0 m-0">
                    <!--filter body-->
                        <form id="filters" action="{% url 'wiki:riders' %}" method="get">
                            <div class="filter-element">
                                <select class="form-select filter-select rounded-0" name="country" id="country">
                                    {% if not request.GET.country %}
                                    <option value="all" selected>Select country</option>
                                    {% endif %}
                                    <option value="all">All</option>
                                    {% for country in countries %}
                                    <option value="{{ country.isocode }}"{% if request.GET.country == country.isocode %} selected {% endif %}>{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="filter-element">
                                <select class="form-select filter-select rounded-0" name="ranked" id="ranked">
                                    {% if not request.GET.ranked %}
                                    <option value="all" selected>Select status</option>
                                    {% endif %}
                                    <option value="all" {% if request.GET.ranked == 'all' %} selected {% endif %}>All</option>
                                    <option value="yes" {% if request.GET.ranked == 'yes' %} selected {% endif %}>Ranked</option>
                                    <option value="no" {% if request.GET.ranked == 'no' %} selected {% endif %}>Not ranked</option>
                                </select>
                            </div>
                            {% if request.GET.sort %}
                                <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                            {% endif %}
                        </form>
                    </div>
                    <div class="modal-footer" style="border-top: none;">
                        <button type="submit" form="filters" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--sort Modal-->
        <div class="modal fade text-dark" id="sortModal" tabindex="-1" aria-labelledby="sortModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="sortModalLabel">Sort by:</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0 m-0">
                        <ul class="list-group list-group-flush p-0">
                            {% for label in sortOptions %}
                                <li class="list-group-item p-0 m-0">
                                    <form action="{% url 'wiki:riders' %}" method="get">
                                        {% if request.GET.country %}
                                            <input type="hidden" name="country" value="{{ request.GET.country }}">
                                        {% endif %}
                                        <input type="hidden" name="sort" value="{{ label.1 }}">
                                        <button type="submit" id="sortOption" class="btn rounded-0">
                                            {% if request.GET.sort == label.1 %}<strong>{{ label.0 }}</strong>{% else %}
                                                {{ label.0 }}{% endif %}
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!--riders table-->
        {% if riders %}
            <ul class="list-group list-group-table rounded-4" style="background-color: #272c32;">
                <li class="list-group-item" id="riders-header">
                    <div class="row align-items-center text-white">
                        <div class="col-1 text-center">
                            Rank
                        </div>
                        <div class="col-2 d-none d-sm-block"></div>
                        <div class="col d-sm-none" style="max-width: 60px;"></div>
                        <div class="col">
                            Name
                        </div>
                        <div class="col-3 d-none d-sm-block">
                            Sponsor
                        </div>
                        {% if request.GET.sort in medals %}
                            <div class="col-2 d-flex justify-content-center">
                                {{ request.GET.sort|label }}
                            </div>
                        {% else %}
                            <div class="col-2 d-flex justify-content-center">
                                Points
                            </div>
                        {% endif %}
                    </div>
                </li>
                {% for rider in riders %}
                    <li class="list-group-item" id="rider-riders">
                        <div class="row align-items-center text-white">
                            <div class="col-1 d-flex justify-content-center">
                                <br>
                                <h6>{% if rider.rank %}{{ rider.rank }}{% else %}-{% endif %}</h6>
                                <br>
                            </div>
                            <div class="col-2 py-1 d-none d-md-block ">
                                <img alt="Rider photo" src="{{ rider.photo }}"
                                     class="rounded-circle border border-3 border-white" width="90" height="90">
                            </div>
                            <div class="col-2 d-none d-sm-block d-md-none">
                                <img alt="Rider photo" src="{{ rider.photo }}"
                                     class="d-md-none rounded-circle border border-2 border-white" width="70"
                                     height="70">
                            </div>
                            <div class="col d-sm-none" style="max-width: 60px;">
                                <img alt="Rider photo" src="{{ rider.photo }}"
                                     class="d-md-none rounded-circle border border-2 border-white" width="50"
                                     height="50">
                            </div>
                            <div class="col">
                                <h6 style="margin: 0;">
                                    <a class="stretched-link" id="rider-link" href="{% url 'wiki:rider' rider.id rider.slug %}">
                                        {{ rider.name }}
                                    </a>
                                </h6>
                                <img alt="Rider country flag" src="{{ rider.country.photo }}">
                            </div>
                            <div class="col-3 d-none d-sm-block">
                                <h6>{{ rider.mainsponsor }}</h6>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <br>
                                {% if request.GET.sort in medals %}
                                    <h6 id="rider-points" class="rounded-2">{{ rider|medal:request.GET.sort }}</h6>
                                {% else %}
                                    <h6 id="rider-points" class="rounded-2">{{ rider.alltime_points|asint }}</h6>
                                {% endif %}
                                <br>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="row" id="riders-navigation">
                {% with previous_index=page_index|sub:1 %}
                    <div class="col-5 text-end">
                        {% if previous_index > 0 %}
                            <form action="{% url 'wiki:riders' %}" method="get">
                                <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                                <input type="hidden" name="page" value="{{ previous_index }}">
                                <button type="submit" class="btn btn-link riders-link"><h2><<</h2></button>
                            </form>
                        {% else %}
                            <button class="btn btn-link disabled-link riders-link"><h2><<</h2></button>
                        {% endif %}
                    </div>
                {% endwith %}
                <div class="col-2">
                    <div class="dropdown text-center" style="margin-left: -5px;">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            PAGE
                        </a>
                        <ul class="dropdown-menu" id="dropdown-navigation"
                            aria-labelledby="dropdownMenuLink">
                            {% for i in pages_count|times %}
                                <li>
                                    <form action="{% url 'wiki:riders' %}" method="get">
                                        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                                        <input type="hidden" name="page" value="{{ i }}">
                                        <button type="submit" class="dropdown-item">{{ i }}</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% with next_index=page_index|add:1 %}
                    <div class="col-5 text-start">
                        {% if next_index <= pages_count %}
                            <form action="{% url 'wiki:riders' %}" method="get">
                                {% if request.GET.sort %}
                                    <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                                {% endif %}
                                {% if request.GET.country %}
                                    <input type="hidden" name="country" value="{{ request.GET.country }}">
                                {% endif %}
                                <input type="hidden" name="page" value="{{ next_index }}">
                                <button type="submit" class="btn btn-link riders-link"><h2>>></h2></button>
                            </form>
                        {% else %}
                            <button class="btn btn-link disabled-link riders-link"><h2>>></h2></button>
                        {% endif %}
                    </div>
                    </div>
                {% endwith %}
        {% else %}
            <p>No results found :(</p>
        {% endif %}
    </div>
{% endblock %}

