{% extends 'base.html' %}

{% block title %}Slopestyle and Dirt Jumping Riders | RideFMB{% endblock %}

{% block content %}
    <div class="container-xxl">
        <form method="GET">
            <input type="text" name="q" placeholder="Search riders">
            <button type="submit">Search</button>
        </form>
        {% if results %}
            <ul>
                {% for rider in results %}
                    <li><a href="{% url 'wiki:rider' rider.id rider.slug %}">{{rider.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found :(</p>
        {% endif %}
    </div>
{% endblock %}

