{% extends 'wiki/base.html' %}

{% block title %}Slopestyle and Dirt Jumping Riders | RideFMB{% endblock %}

{% block content %}
    <div class="container-lg">
        {% if not riders and not events %}
            <h4>No results found :(</h4>
            <p>Type at least one letter, avoid using national characters and watch out for whitespaces</p>
        {% else %}
            <h1>Results</h1>
        {% endif %}
        {% if riders %}
            <h4>Riders:</h4>
            <table class="table" style="max-width: 576px;">
                <thead>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                </thead>
                <tbody>
                {% for rider in riders %}
                    <tr>
                        <td>
                            <img src="{{ rider.photo }}" class="rounded-circle border border-2 border-white" width="50" height="50">
                        </td>
                        <td class="rf-table-item-name"><a href="{% url 'wiki:rider' rider.id rider.slug %}">{{ rider.name }}</a></td>
                        <td><img src="{{ rider.country.photo }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if events %}
            <h4>Events:</h4>
            <ul>
                {% for event in events %}
                    <li><a href="{% url 'wiki:event' event.id event.slug %}">{{ event.name }}</a>, {{ event.year }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock %}

