:root {
    --rf-background: #000000;
    --rf-primary: #727af7;
    --rf-primary-light: #8990fa;
    --rf-primary-dark: #696fc7;
    --rf-table: #1e2124;
    --rf-table-2: #272c32;
    --rf-border: #6c757d;
    --rf-lightgrey: #e0e0e0;
}

@media screen and (max-width: 767px) {
    :root {
    --rf-table: #1c1c1d;
    --rf-table-2: #2c2c2d;
    --rf-border: #6c757d;
    }
}

/*:root {*/
/*    --rf-background: #000000;*/
/*    --rf-primary: #727af7;*/
/*    --rf-table: #1c1c1d;*/
/*    --rf-table-2: #2c2c2d;*/
/*    --rf-border: #6c757d;*/
/*    --rf-lightgrey: #e0e0e0;*/
/*}*/

a {
    color: var(--rf-primary);
    text-decoration: none;
}

body {
    padding-top: 70px;
    background-color: var(--rf-background);
}
.container-lg {
    max-width: 960px;
}

/*Navigation bar*/
.navbar {
    background-color: var(--rf-background);
}
.navbar-brand {
    color: var(--rf-primary);
}
.navbar-brand img:last-child {
    display: none;
}
.navbar-brand:hover img:last-child {
    display: inline;
}
.navbar-brand:hover img:first-child {
    display: none;
}
.btn-logo {
    padding: 6px;
    background-color: var(--rf-primary);
    max-width: 60px;
    max-height: 60px;
}
a.nav-link:hover,
a.nav-link:focus{
    color: var(--rf-primary) !important;
    text-decoration: none;
}
.btn-navbar-menu {
    color: var(--rf-primary);
    border: none;
}
.navbar-toggler-icon {
    color: var(--rf-primary);
}

/*Search*/
#mobile-search {
    padding-right: 10px;
}
.search-bar,
.search-bar:active,
.search-bar:focus,
.search-bar:checked {
    color: #c9c9c9;
    background-color: var(--rf-table);
    border: none transparent;
    outline: none !important;
    box-shadow: none;
}
.btn-search {
    color: #6c757d;
    background-color: var(--rf-table);
    border-color: transparent;
}
.btn-search:hover,
.btn-search:focus {
    color: white;
    background-color: var(--rf-table);
    border-color: transparent;
}
/*Settings*/
.btn-settings-menu {
    width: 100%;
    background-color: var(--rf-primary);
    color: white;
}
.btn-settings-menu:hover,
.btn-settings-menu:focus {
    background-color: var(--rf-primary-light);
}
.btn-settings-menu:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

/*Table*/
.rf-table {
    background-color: var(--rf-table);
}
.rf-table-header {
    background-color: var(--rf-table-2);
}
.rf-table-item {
    border-top: 1px solid rgba(20, 20, 20, .5);
    background-color: transparent;
}
.rf-table-item:hover {
    background-color: var(--rf-table-2);
    cursor: pointer;
}
.rf-table-item-link,
.rf-table-item-link:hover {
    color: white;
    text-decoration: none;
}
.rf-table-item-link:focus {
    color: var(--rf-primary);
    text-decoration: none;
}
.rf-table-item-points {
    color: var(--rf-table);
    background-color: var(--rf-primary);
    padding: 4px;
}
.rf-table-item-name {
    margin: 0;
}
.rf-table-rider-photo {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*Page navigation*/
#dropdownMenuLink:hover,
#dropdownMenuLink:focus {
    text-decoration: none;
}

#dropdownMenuList {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.dropdown-page-item {
    width: 20%;
    min-width: 120px;
}
.page-navigation {
    background-color: var(--rf-primary) !important;
    color: white !important;
    border-color: var(--rf-background);
}
.page-navigation:focus,
.page-navigation:hover {
    outline: none;
    border-color: var(--rf-background);
    background-color: var(--rf-primary-dark) !important;
}
.pagination {
    --bs-pagination-focus-box-shadow: none !important;
    --bs-pagination-border-radius: 0.5rem;
}
/*Footer*/
#myFooter {
    border-bottom: 1px solid var(--rf-border);
}