td {
    vertical-align: middle;
}
th {
    font-weight: normal;
}
.dropdown-menu {
    --bs-dropdown-min-width: 100%;
}
.disabled {
    border-color: var(--rf-background) !important;
    background-color: var(--rf-primary-dark) !important;
}