/*General*/
#main-container {
    max-width: 960px;
}
.btn-menu {
    width: 100%;
    background-color: #727af7;
    color: white;
}
.btn-menu:hover {
    background-color: #8087ff;
}

/*Filter Modal*/
#dropdownMenuCountry {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0
}

#dropdown-countries {
    height: auto;
    max-height: 200px;
    max-width: 200px;
    overflow-x: hidden;
}
#filterLabel,
#filterDropdown{
    border-bottom: 1px solid #e0e0e0;
}
#filterLabel:hover,
#filterDropdown:hover {
    background-color: #e0e0e0;
}

/*Sort Modal*/
#sortLabel {
    border-bottom: 1px solid #e0e0e0;
}
#sortLabel:hover {
    background-color: #e0e0e0;
}

#sortOption {
    width: 100%;
}
#sortOption:hover {
    background-color: #e0e0e0;
}

/*Riders table*/
#riders-header {background-color: #4e545c;}
#rider-riders {background-color: transparent;}
#rider-riders:hover {background-color: #4e545c;}
#rider-link {
    color: white;
    text-decoration: none;
}
#rider-points {
    color: #272c32;
    background-color: #727af7;
    padding: 4px;
}
/*Navigation*/
.riders-link {
    color: #727af7;
    text-decoration: none;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.disabled-link {
    color: lightgrey;
    pointer-events: none;
}
#dropdownMenuLink {
    color: #727af7;
    padding: 5px 5px 0px 0px;
}
#dropdown-navigation {
    height: auto;
    max-height: 200px;
    max-width: 50px;
    overflow-x: hidden;
}




