/*General*/
#filterButtonContainer {
    padding-right: 6px;
}
#sortButtonContainer {
    padding-left: 6px;
}

/*Filter Modal*/
#filterModalFooter {
    border-top: none;
}
.filter-select {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px;
}
.filter-element {
    padding: 8px 5px 0 5px;
}

/*Sort Modal*/
.sort-option {
    width: 100%;
}
.sort-option:hover {
    background-color: #e0e0e0;
}

/*Table*/
.rf-table-rider-photo {
    max-width: 60px;
}




