/*General*/
#filterButtonContainer {
    padding-right: 6px;
}
#sortButtonContainer {
    padding-left: 6px;
}

/*Filter Modal*/
#filterModalFooter {
    border-top: none;
}
.filter-select,
.filter-select:focus {
    border: none;
    border-bottom: 1px solid var(--rf-lightgrey);
    padding: 10px;
    outline: none;
    box-shadow: none;
}
.filter-element {
    padding: 8px 5px 0 5px;
}

/*Sort Modal*/
.sort-option {
    width: 100%;
}
.sort-option:hover {
    background-color: var(--rf-lightgrey);
}

/*Table*/
.rf-table-rider-photo {
    max-width: 60px;
}
.rf-nav-link {
    padding-top: 0;
}




