.eighth-div {
    width: 12.5%;
}
.status-icon {
    padding-left: 0;
}
td {
    vertical-align: middle;
}
th {
    font-weight: normal;
}

/*Navigation*/

.dropdown-menu {
    --bs-dropdown-min-width: 100%;
}
.disabled {
    border-color: var(--rf-background) !important;
    background-color: var(--rf-primary-dark) !important;
}