{% extends 'wiki/base.html' %}

{% block title %}500 | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <link href="{% static 'wiki/stylesheets/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-lg">
        <img class="d-block mx-auto logo-image" style="margin-top: 30px"
                 src="https://see.fontimg.com/api/renderfont4/jEr99/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzAzMDAwMCIsInQiOjF9/UmlkZUZNQg/excludeditalic.png"
                 alt="Bold fonts">
        <div class="text-center">
            <strong>500</strong> Internal Server Error
            <br>
            This page is not working. Try again later.
        </div>
    </div>
{% endblock %}