{% extends 'wiki/base.html' %}

{% block title %}Login | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <link href="{% static 'wiki/stylesheets/footer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-lg">
    <br>
        <div class="form container-sm text-center">
            <form method="POST" id="delete" action="{% url 'wiki:delete' %}">
                {% csrf_token %}
                <span>Are you sure you want to delete your account?</span>
                <input type="hidden" name="check" value="yes">
                <br>
                <br>
                <button type="submit" form="delete" class="btn btn-danger">Yes, delete my account</button>
            </form>
            <br>
        </div>
    </div>

{% endblock %}