{% extends 'wiki/base.html' %}

{% block title %}Login | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <link href="{% static 'wiki/stylesheets/footer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="form container-sm">
            <h1>Login</h1>
            {% if message %}
                <span style="color: red">{{ message }}</span>
            {% endif %}
            <form method="POST" id="login" action="{% url 'wiki:login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">Username</label>
                    <input type="text" class="form-control" name="uname" id="username" placeholder="Enter username"
                           required>
                </div>
                <div class="mb-3">
                    <label for="psw" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Enter password" name="psw" required>
                </div>
                <button type="submit" form="login" class="btn btn-primary">Log in</button>
            </form>
            <br>
            Do not have an account yet? Sign up <a href="{% url 'wiki:register' %}">here</a>
        </div>
    </div>

{% endblock %}