{% extends 'wiki/base.html' %}

{% block title %}FMB World Tour Ranking 2023 | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <link href="{% static 'wiki/stylesheets/ranking.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-lg" style="display: table">
        <h1 class="d-none d-sm-block">FMB World Tour Ranking 2023</h1>
        <h1 class="d-sm-none">FMB Ranking 2023</h1>
        <!-- Ranking table -->
        <table class="table table-borderless rf-table rounded-4 overflow-hidden text-white">
            <thead class="rf-table-header rounded-3">
            <tr>
                <th class="text-center d-none d-sm-block" scope="col">Rank</th>
                <th class="d-sm-none" colspan="2">Rank</th>
                <th class="d-none d-sm-table-cell" scope="col"></th>
                <th scope="col">Name</th>
                <th class="d-none d-sm-table-cell" scope="col">Sponsor</th>
                <th class="text-center" scope="col">Points</th>
            <tr>
            </thead>
            <tbody>
            {% for rider in riders %}
                <tr class="rf-table-item" onclick="window.location='{% url 'wiki:rider' rider.id rider.slug %}';">
                    <!-- Rank -->
                    <td>
                        <h6 class="text-center">{{ rider.rank }}</h6>
                    </td>
                    <!-- Photo -->
                    <td class="py-3 d-none d-md-block">
                        <img alt="Rider photo" src="{{ rider.photo }}"
                             class="rounded-circle border border-3 border-white" width="90" height="90">
                    </td>
                    <td class="d-none d-sm-block d-md-none">
                        <img alt="Rider photo" src="{{ rider.photo }}"
                             class="rounded-circle border border-2 border-white" width="70" height="70">
                    </td>
                    <td class="d-sm-none rf-table-rider-photo">
                        <img alt="Rider photo" src="{{ rider.photo }}"
                             class="rounded-circle border border-2 border-white" width="50" height="50">
                    </td>
                    <!-- Name -->
                    <td>
                        <h6 class="rf-table-item-name">
                            <a class="rf-table-item-link"
                               href="{% url 'wiki:rider' rider.id rider.slug %}">{{ rider.name }}</a>
                        </h6>
                        <img alt="Rider country flag" src="{{ rider.country.photo }}">
                    </td>
                    <!-- Sponsor -->
                    <td class="d-none d-sm-block">
                        {{ rider.getMainSponsor }}
                    </td>
                    <!-- Points -->
                    <td>
                        <div class="d-flex justify-content-center">
                            <h6 class="rf-table-item-points rounded-2">{{ rider.points }}</h6>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Pagination -->
        <nav>
            <ul class="pagination justify-content-center">
                {% with previous_index=page_index|sub:1 %}
                    <li class="page-item">
                        <a class="page-link page-navigation {% if previous_index < 1 %}disabled{% endif %}"
                           href="{% url 'wiki:ranking' previous_index %}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endwith %}
                <li class="page-item dropdown-page-item">
                    <div class="dropdown text-center">
                        <a class="page-link dropdown-toggle page-navigation" href="#" role="button" id="navigationLink"
                           data-bs-toggle="dropdown">
                            {{ page_index }} / 30
                        </a>
                        <ul class="dropdown-menu dropdown-menu-center rounded-2" id="dropdownMenuList">
                            {% for i in 30|times %}
                                <li><a class="dropdown-item text-center" href="{% url 'wiki:ranking' i %}">{{ i }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% with next_index=page_index|add:1 %}
                    <li class="page-item">
                        <a class="page-link page-navigation {% if next_index > 30 %}disabled{% endif %}"
                           href="{% url 'wiki:ranking' next_index %}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endwith %}
            </ul>
        </nav>
    </div>
{% endblock %}