{% if request.GET.sort %}
    <input type="hidden" name="sort" value="{{ request.GET.sort }}">
{% endif %}
{% if request.GET.country %}
    <input type="hidden" name="country" value="{{ request.GET.country }}">
{% endif %}
{% if request.GET.ranked %}
    <input type="hidden" name="ranked" value="{{ request.GET.ranked }}">
{% endif %}
{% if request.GET.sponsor %}
    <input type="hidden" name="sponsor" value="{{ request.GET.sponsor }}">
{% endif %}
{% if request.GET.sex %}
    <input type="hidden" name="sex" value="{{ request.GET.sex }}">
{% endif %}