{% extends 'wiki/base.html' %}

{% block title %}{{ rider.name }} - History and Information | RideFMB{% endblock %}

{% block head %}
    {% load wiki_extras %}
    {% load static %}
    <link href="{% static 'wiki/stylesheets/rider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-xxl">
        <div class="container-md">
            <h1 class="text-center">{{ rider.name }}</h1>
            <table class="table table-borderless rf-table rounded-3 overflow-hidden text-white">
                <tbody>
                <tr>
                    <td rowspan="8" class="d-none d-sm-table-cell photo-holder">
                        <img class="rider-photo rounded-circle border border-2 border-white d-block mx-auto my-2 mx-4" alt="Rider photo"
                             src="{{ rider.photo }}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="d-sm-none">
                        <img class="rider-photo rounded-circle border border-2 border-white d-block mx-auto my-2" alt="Rider photo"
                             src="{{ rider.photo }}">
                    </td>
                </tr>
                <tr class="rf-info-item">
                    <th>Nationality</th>
                    <td class="data">{{ rider.country.name }} <img alt="Rider country flag" src="{{ rider.country.photo }}"></td>
                </tr>
                <tr class="rf-info-item">
                    <th>WT Rank</th>
                    <td class="data">{{ rider.rank }}</td>
                </tr>
                <tr class="rf-info-item">
                    <th>Sponsors</th>
                    <td class="data">
                        {% if sponsorships %}
                            {{ sponsorships | displayS }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
                <tr class="rf-info-item">
                    <th>Age</th>
                    <td class="data">{{ rider.birth | age }}</td>
                </tr>
                <tr class="rf-info-item">
                    <th>Sex</th>
                    <td class="data">{{ rider.sex }}</td>
                </tr>
                {% if rider.instagram and rider.instagram != '' %}
                <tr class="rf-info-item">
                    <th>Socials</th>
                    <td class="data">
                        <a href={{ rider.instagram }} target="_blank">Instagram</a>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            {{ rider.description|markdown }}
            <h4 class="rider-header">Competitions</h4>
            {% for year in years %}
                <h6 class="lead">{{ year }}</h6>
                <ul class="event-list">
                    {% for part in participations %}
                        {% if part.event.date.year == year %}
                            <li class="rider-part">
                                <strong class="event-info">{{ part.rank | sufix }}</strong>
                                <a href="{% url 'wiki:event' part.event.id part.event.slug %}">
                                    {{ part.event.series.name }}</a>
                                <br>
                                <span class="event-info">{{ part.event.city }}, {{ part.event.country.name }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
            <h4 class="rider-header">Sources</h4>
            <ol class="event-list">
                <li>
                    <a class="source-link"
                       href="https://www.fmbworldtour.com">https://www.fmbworldtour.com</a>
                </li>
                {% for source in sources %}
                    <li>
                        <a class="source-link" href="{{ source.link }}">{{ source.link }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}

