.heart-checkbox {
  /*position: relative;*/
  cursor: pointer;
}

.heart-checkbox input {
  display: none;
}

.heart-checkbox .heart {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: var(--rf-table-2);
}

.heart-checkbox input:checked + .heart {
  fill: #ff0000;
}
